---
title: "‘上海！’ - Out And About In Shanghai"
author: "edk"
filter: erb
tags: [travel, shanghai 2012]
kind: article
created_at: 2012/02/08

excerpt: <p>Time has passed quickly since I made that quick snip at Hong Kong International Airport, enroute to Shanghai, China. </p><img src="https://lh5.googleusercontent.com/-RorUY7IC5cc/Ty-7yZ_U97I/AAAAAAAAAGE/5zNQUCimydE/s640/20120131_shanghai-01.jpg">

footer: <div><span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_fblike_hcount' ></span><span  class='st_plusone_hcount' ></span></div>
---
<%= item[:excerpt] %>

<p>Every visit I make to China is always packed with food, catching up with friends and family, long nights, long days and plenty of pollution. I found it particularly difficult to climatise to all the crap in the air. But this city just flies... With the population of Australia packed into a metropolis, Shanghai churns 24/7.</p>

<img src="https://lh5.googleusercontent.com/-MQfilqI9KwE/Ty-74EqV-bI/AAAAAAAAAGU/eBiJ5xmmSek/s640/20120131_shanghai-02.jpg">

<img src="https://lh5.googleusercontent.com/-KnYIEHFuX5A/Ty-7yfSYTrI/AAAAAAAAAGI/Ga0prgW-2h0/s640/20120131_shanghai-03.jpg">

<img src="https://lh3.googleusercontent.com/-DeRuoU4hr44/Ty-78XwafeI/AAAAAAAAAGc/sjsGq9lEXqY/s640/20120131_shanghai-04.jpg">

<img src="https://lh5.googleusercontent.com/-hY2aEysKpJI/Ty-7-EMtoTI/AAAAAAAAAGk/rEkocN-fL5A/s640/20120131_shanghai-05.jpg">

<img src="https://lh6.googleusercontent.com/-nqWoFKLZanw/Ty-8Iuq4MYI/AAAAAAAAAGs/ky0T3pSsJNw/s640/20120131_shanghai-06.jpg">

<img src="https://lh6.googleusercontent.com/-qe9L0K5Wwcw/Ty-8JsjwIAI/AAAAAAAAAG0/xXuohSjv7d0/s640/20120131_shanghai-07.jpg">

<img src="https://lh6.googleusercontent.com/-gcNueVmiUMg/Ty-8KYlhi4I/AAAAAAAAAG4/MnQhJQolkhs/s640/20120131_shanghai-08.jpg">

<img src="https://lh6.googleusercontent.com/-Cuaim8kTGVY/Ty-8SvoQYaI/AAAAAAAAAHM/Fwx2chcVJ_8/s640/20120131_shanghai-09.jpg">

<img src="https://lh6.googleusercontent.com/-2RUxShDN2_o/Ty-8TS71vwI/AAAAAAAAAHU/a0VyJyTEuoo/s640/20120131_shanghai-10.jpg">

<img src="https://lh4.googleusercontent.com/-YvCkpmfJulQ/Ty-8Q11hkBI/AAAAAAAAAHE/UkcfxeInV6M/s640/20120131_shanghai-11.jpg">

<img src="https://lh3.googleusercontent.com/-9HYZcRb7J2M/Ty-8b6IMinI/AAAAAAAAAHc/WqNptZkeJzY/s640/20120131_shanghai-12.jpg">

<img src="https://lh3.googleusercontent.com/-dB3TBdZ-9I0/Ty-8fPKvO2I/AAAAAAAAAHk/qd2alUhrj5s/s640/20120131_shanghai-13.jpg">

<img src="https://lh4.googleusercontent.com/-eDObixKXSao/Ty-8gEI4NMI/AAAAAAAAAHs/AZ2i9RMlScQ/s640/20120131_shanghai-14.jpg">

<img src="https://lh6.googleusercontent.com/-uyOA_8NE-WM/Ty-8pgWs6uI/AAAAAAAAAH0/W0cLP8yS7Z0/s640/20120131_shanghai-15.jpg">

<img src="https://lh3.googleusercontent.com/-cSI4Xmtl4OQ/Ty-8voARxtI/AAAAAAAAAIE/huSbpvVQUL8/s640/20120131_shanghai-17.jpg">

<img src="https://lh5.googleusercontent.com/-mbqtJgb6ocs/Ty-8uHatLfI/AAAAAAAAAH8/vUrpfMcPpPA/s640/20120131_shanghai-16.jpg">

<p>^ Angry much? Till next time!</p>


<%= item[:footer] %>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'edkphotography'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<p><a href="/">Return home...</a></p>

