---
title: "Shanghai. Fin."
author: "edk"
filter: erb
tags: [travel, shanghai 2012]
kind: article
created_at: 2012/02/18

excerpt: <img src="https://lh6.googleusercontent.com/-CeAvcm7lYwI/Ty-_HIe6fiI/AAAAAAAAALw/RWKGI1YLDm8/s640/20120131_shanghai-42_part_3.jpg"><p>Pre-flight check. Cram session.</p>

footer: 

---
<%= item[:excerpt] %>

<img src="https://lh4.googleusercontent.com/-p1h1ZuWokPE/Ty-_IA-4TSI/AAAAAAAAAL4/MvaN-jTmGrw/s640/20120131_shanghai-43.jpg">

<img src="https://lh5.googleusercontent.com/-9JpD8Xzzc5g/Ty-_RYCcN-I/AAAAAAAAAMY/vtxB8pBlfoQ/s640/20120131_shanghai-44.jpg">

<img src="https://lh5.googleusercontent.com/-otA8QbPtry4/Ty-_QcOs81I/AAAAAAAAAMI/RHCFzpW-sOA/s640/20120131_shanghai-45.jpg">

<img src="https://lh6.googleusercontent.com/-I6guwygXW7Q/Ty-_Qzqf6yI/AAAAAAAAAMM/VaMKhWHXgio/s640/20120131_shanghai-46.jpg">

<img src="https://lh4.googleusercontent.com/-qOu6abintCU/Ty-_cfvzi3I/AAAAAAAAAMk/W8-SRR2vp3c/s640/20120131_shanghai-47.jpg">

<img src="https://lh5.googleusercontent.com/-MXGkYnaZrz8/Ty-_cHLl_cI/AAAAAAAAAMg/QCrw_Im1qIs/s640/20120131_shanghai-48.jpg">

<img src="https://lh6.googleusercontent.com/-5OCeuQlME5I/Ty-_htDEDLI/AAAAAAAAAMw/Rm--tzp3x78/s640/20120131_shanghai-49.jpg">

<img src="https://lh5.googleusercontent.com/-eqGic53Sk7I/Ty-_oSdwtUI/AAAAAAAAAM4/RlGrAPiBmrQ/s640/20120131_shanghai-50.jpg">

<img src="https://lh6.googleusercontent.com/-pBKruoY8GyQ/Ty-_qwRXtxI/AAAAAAAAANA/TAbfSndddOA/s640/20120131_shanghai-51.jpg">

<img src="https://lh4.googleusercontent.com/-urnLDoSuRWY/Ty-_sjZuYiI/AAAAAAAAANI/iNfGIuWglCA/s640/20120131_shanghai-52.jpg">

<img src="https://lh6.googleusercontent.com/-URn1uxWjPHA/Ty-_3ZJx2UI/AAAAAAAAANQ/fJ39P_eG3RI/s640/20120131_shanghai-53.jpg">

<img src="https://lh6.googleusercontent.com/-MIpfRXlINo8/Ty-_6AauyKI/AAAAAAAAANY/t70wsNAyxrM/s640/20120131_shanghai-54.jpg">

<img src="https://lh3.googleusercontent.com/-mhA5x2EESdI/Ty-_8wP8adI/AAAAAAAAANg/1mkcrmk2KbI/s640/20120131_shanghai-55.jpg">

<img src="https://lh5.googleusercontent.com/-gMKWTV_23Ko/Ty-_-SYQktI/AAAAAAAAANo/ryF9m-jsA78/s640/20120131_shanghai-56.jpg">

<p>Be sure to check the previous parts if you missed them. <a href="/2012/01-20-out-and-about-in-shanghai/">Shanghai: Part 1</a> and <a href="/2012/02-13-tai-kang-lu-whisk-and-shanghai-sculpture-park/">Shanghai: Part 2</a>.</p>

<p>Next up, Hong Kong then finally home... AUSTRALIA.</p>

<%= item[:footer] %>

<blockquote class="twitter-tweet tw-align-center"><p>That is a wrap for <a href="https://twitter.com/search/%2523shanghai">#shanghai</a> ! <a href="https://twitter.com/search/%2523fb">#fb</a> <a href="http://t.co/etQKbpTM" title="http://www.edkhou.com/2012/02-17-shanghai-fin/">edkhou.com/2012/02-17-sha…</a> <a href="http://t.co/m6QAJTdd" title="http://twitter.com/edkhou/status/170496938154803200/photo/1">twitter.com/edkhou/status/…</a></p>&mdash; Ed Khou (@edkhou) <a href="https://twitter.com/edkhou/status/170496938154803200" data-datetime="2012-02-17T13:16:53+00:00">February 17, 2012</a></blockquote>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<p><a href="/">Return home...</a></p>

