---
title: "Archives"
author: "edk"
permalink: archives
filter: erb
tags:
- archives
- edk
kind: home
created_at: 2011/12/02
---
<% articles_by_year_month.each do |year, month_h| %>
	<% month_h.each do |month, item_a| %>
	<h2>#{year} #{to_month_s(month)}</h2>

	<% end %>

<% end %>