---
title: "Delish Food!"
author: "edk"
filter: erb
tags: [edk, food, christmas dinner]
kind: article
created_at: 2011/12/18

excerpt: <img src="https://lh5.googleusercontent.com/-wD20PIWIbX0/TuskiZvkYVI/AAAAAAAAAkI/WLbIfhlB5v8/s640/xmas_dinner_2011-01.jpg">

footer: <div><span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_fblike_hcount' ></span><span  class='st_plusone_hcount' ></span></div>
---
<%= item[:excerpt] %>

<img src="https://lh4.googleusercontent.com/-fyz_4yDy8sc/TuskiuraN7I/AAAAAAAAAkQ/wo_iLUpw5w8/s640/xmas_dinner_2011-02.jpg">

<img src="https://lh3.googleusercontent.com/-OVx3T5XBOTY/Tuski_zc42I/AAAAAAAAAkM/qmJ-fkqGklk/s640/xmas_dinner_2011-03.jpg">

<img src="https://lh4.googleusercontent.com/-8ofS4qQokps/Tuskj6hp3JI/AAAAAAAAAkc/Z4AhhyXIQdk/s640/xmas_dinner_2011-04.jpg">

<img src="https://lh3.googleusercontent.com/-X5D3wk1CkgM/TuskkwpQjKI/AAAAAAAAAkw/RjMs8YUHbA0/s640/xmas_dinner_2011-05.jpg">

<img src="https://lh5.googleusercontent.com/-EcTOM9W1ixc/TusklVkcghI/AAAAAAAAAko/bGfFHpiuaiQ/s640/xmas_dinner_2011-06.jpg">

<img src="https://lh3.googleusercontent.com/-d4W4yPrHRRs/Tuskl21sDsI/AAAAAAAAAks/nca30YkczFA/s640/xmas_dinner_2011-07.jpg">

<img src="https://lh6.googleusercontent.com/-_cMuA68zVe4/Tuskm21bv1I/AAAAAAAAAlA/TmffrWi1tD0/s640/xmas_dinner_2011-08.jpg">

<img src="https://lh5.googleusercontent.com/-ueVfmZUFF9I/Tusknk6_02I/AAAAAAAAAlE/XEsZCQbkSws/s640/xmas_dinner_2011-09.jpg">

<img src="https://lh5.googleusercontent.com/-pgtGjcEsB44/TussKkQjF6I/AAAAAAAAApA/_iaMYR_OfCE/s640/xmas_dinner_2011_adjust-10.jpg">

<img src="https://lh4.googleusercontent.com/-ED-Zaw_3su0/TuskpkGKaMI/AAAAAAAAAlY/CYc1Ok6UQx8/s640/xmas_dinner_2011-11.jpg">

<img src="https://lh5.googleusercontent.com/-OhoXe2ErKlE/TuskrNXl5MI/AAAAAAAAAlk/9s8o-XDfJnY/s640/xmas_dinner_2011-12.jpg">

<img src="https://lh4.googleusercontent.com/-8W7XwaDQRkE/Tuskqgvek6I/AAAAAAAAAlg/IXidyh6ggWk/s640/xmas_dinner_2011-13.jpg">

<img src="https://lh5.googleusercontent.com/-5BLtQZHam50/Tuskr8oCEaI/AAAAAAAAAls/kEXBYWvVnDQ/s640/xmas_dinner_2011-14.jpg">

<img src="https://lh5.googleusercontent.com/-xhq-q8V7Ieg/Tuskt26OrLI/AAAAAAAAAl4/lVKWVzUKt7U/s640/xmas_dinner_2011-15.jpg">

<img src="https://lh6.googleusercontent.com/-zPHYfL-dxck/TuskubBF5_I/AAAAAAAAAl8/z8AmWqwoqeU/s640/xmas_dinner_2011-16.jpg">

<img src="https://lh5.googleusercontent.com/-dSzucYp13F8/Tuskuk3jYEI/AAAAAAAAAmE/LSlI6bdf5J8/s640/xmas_dinner_2011-17.jpg">

<img src="https://lh6.googleusercontent.com/-IJZPglnccGg/TuskvThlB2I/AAAAAAAAAmQ/qczJQ_PK8RY/s640/xmas_dinner_2011-18.jpg">

<img src="https://lh4.googleusercontent.com/-V6PsWQvJqC8/TussT5D1tGI/AAAAAAAAAqU/lShDP-Plj80/s640/xmas_dinner_2011_adjust-19.jpg">

<img src="https://lh6.googleusercontent.com/-BkhjgOTjg3Q/TuskwiI0wyI/AAAAAAAAAmU/oBdUx2idBvk/s640/xmas_dinner_2011-20.jpg">

<img src="https://lh5.googleusercontent.com/-cA7Mo2hR5uQ/Tuskx7MqViI/AAAAAAAAAmk/5LhZERz7NAA/s640/xmas_dinner_2011-21.jpg">

<img src="https://lh6.googleusercontent.com/-M7HWG6ivVlQ/Tuskyzo7iXI/AAAAAAAAAms/yBBaOMCGY1E/s640/xmas_dinner_2011-22.jpg">

<img src="https://lh6.googleusercontent.com/-1mMANCsmens/TussWr0ElkI/AAAAAAAAAqw/U16_JZTMKbw/s640/xmas_dinner_2011_adjust-23.jpg">

<img src="https://lh3.googleusercontent.com/-zfJ89yQgSNw/Tusk0EonFEI/AAAAAAAAAnA/XBaDMtf20CQ/s640/xmas_dinner_2011-24.jpg">

<img src="https://lh5.googleusercontent.com/-SdygcODbxuM/Tusk1DRFtYI/AAAAAAAAAnI/MA5mdqCO_BA/s640/xmas_dinner_2011-25.jpg">

<img src="https://lh6.googleusercontent.com/-ZnXD__6CwU4/Tusk1guglUI/AAAAAAAAAnE/g8rRBBw55iY/s640/xmas_dinner_2011-26.jpg">

<img src="https://lh5.googleusercontent.com/-nWidU3KWZw0/Tusk2fQQYJI/AAAAAAAAAnQ/Vu9yBcLGHxo/s640/xmas_dinner_2011-27.jpg">

<img src="https://lh3.googleusercontent.com/-GUnD9flnrkw/Tussa3KoZaI/AAAAAAAAArc/tRs2lmqYT94/s640/xmas_dinner_2011_adjust-28.jpg">

<img src="https://lh6.googleusercontent.com/-anYwjyBCyAI/TussbRJlvaI/AAAAAAAAArk/YeO6FFoSW_w/s640/xmas_dinner_2011_adjust-29.jpg">

<img src="https://lh3.googleusercontent.com/-V-5bK__GIWc/TusscDXfE8I/AAAAAAAAArw/0sr_Nad7-KY/s640/xmas_dinner_2011_adjust-30.jpg">

<%= item[:footer] %>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'edkphotography'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<p><a href="/">Return home...</a></p>

